build/*
build-install/*
dist/*
src/flint/**/*.c
src/flint/*.html
doc/build/*
fmake*
*.whl
*.pyc
*.pyd
*.so
__pycache__
MANIFEST
.eggs
.local
*.egg-info
.coverage
*.swp
.python-version
*.DS_Store
.venv
.hypothesis
