include LICENSE
include CHANGES
include README
include src/flint/*.pxd
include src/flint/*.pyx
include src/flint/*.py
include test/*.py
include doc/source/*.py
include doc/source/*.rst
include doc/Makefile
